In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir("C:/Users/Stanislav"))

['.bash_history', '.conda', '.condarc', '.cufflinks', '.git', '.gitconfig', '.ipynb_checkpoints', '.ipython', '.matplotlib', '3D Objects', 'anaconda3', 'Anaconda3-2020.02-Windows-x86_64 (1).exe', 'AppData', 'Application Data', 'Contacts', 'Cookies', 'COVID-19-Data-Analyisis-master', 'data.csv', 'data.json', 'data.zip', 'data_sf.csv', 'data_sf.xls', 'Desktop', 'Documents', 'Downloads', 'Favorites', 'game_core_v3.1.ipynb', 'game_core_v3.2.ipynb', 'get-pip.py', 'IntelGraphicsProfiles', 'Links', 'links.csv', 'Local Settings', 'log.csv', 'log.xls', 'MicrosoftEdgeBackups', 'movies.csv', 'movies_example.txt', 'Music', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{6fc31b49-06f6-11ea-99f8-b00c9e0053b2}.TM.blf', 'NTUSER.DAT{6fc31b49-06f6-11ea-99f8-b00c9e0053b2}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{6fc31b49-06f6-11ea-99f8-b00c9e0053b2}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Pictures', 'PrintHood', 'Python A5 (04.04.2020).ipynb', 'Python B1-B3 (12.04.2020).ipynb', 'Python B5-B6 (21.03.2020).ipynb', 'python_lessons-master', 'ratings.csv', 'ratings_example.txt', 'README.md', 'README.txt', 'Recent', 'sample.csv', 'sample.xls', 'Saved Games', 'Searches', 'SendTo', 'skillfactory_rds', 'StudentsPerformance.csv', 'tags.csv', 'Untitled.ipynb', 'users.csv', 'users.xls', 'v3.0 (1).ipynb', 'Videos', '[SF-DST] Movies IMBD v3.0.ipynb', 'главное меню', 'Мои документы', 'Очистка_данных_и_создание_новых.ipynb', 'Первый ноутбук.ipynb', 'Шаблоны']

In [2]:
data = pd.read_csv(r'C:\Users\Stanislav\data.csv', sep=',')
data.head(5)
data.columns

Index(['imdb_id', 'popularity', 'budget', 'revenue', 'original_title', 'cast',
       'director', 'tagline', 'overview', 'runtime', 'genres',
       'production_companies', 'release_date', 'vote_count', 'vote_average',
       'release_year'],
      dtype='object')

In [3]:
len(data)

1890

# Предобработка датасета

In [4]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [5]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)
data.max() # определяем максимальный бюджет фильма budget=425000000
data1 = pd.DataFrame()
data1 = data[data['budget']==425000000] # определяем фильм с таким бюджетом original_title=The Warrior's Way
data1

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [6]:
answer_ls.append(2)
data.max() # определяем максимальную длительность фильма runtime=214
data1 = pd.DataFrame()
data1 = data[data['runtime']==214] # определяем фильм с такой длительностью original_title=Gods and Generals
data1

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
answer_ls.append(3)
data.min() # определяем минимальную длительность фильма runtime=63
data1 = pd.DataFrame()
data1 = data[data['runtime']==63] # определяем фильм с такой длительностью original_title=Winnie the Pooh
data1

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [8]:
answer_ls.append(2)
data['runtime'].mean()

109.65343915343915

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [9]:
answer_ls.append(1)
data['runtime'].median()

106.5

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [10]:
answer_ls.append(5)
data1 = pd.DataFrame()
data1['difference'] = data['revenue']-data['budget'] # определяем прибыльность фильмов
result = pd.concat([data, data1], axis=1) # объединяем данные с исходным датасетом
result['difference'].max() # определяем максимальную прибыльность фильма difference=2544505847
result[result['difference']==2544505847]  # определяем фильм с такой прибыльностью

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [11]:
answer_ls.append(2)
result['difference'].min() # определяем минимальную прибыльность фильма difference=-413912431
result[result['difference']==-413912431]  # определяем фильм с такой прибыльностью

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [12]:
answer_ls.append(1)
result[result['difference']>0].count() # определяем количество прибыльных фильмов

imdb_id                 1478
popularity              1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_count              1478
vote_average            1478
release_year            1478
difference              1478
dtype: int64

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [13]:
answer_ls.append(4)
result_1 = result[result['release_year']==2008] # определяем фильмы, выпущенные в 2008 году
result_1['difference'].max() # определяем минимальную прибыльность фильма difference=816921825
result_1[result_1['difference']==816921825]  # определяем фильм с такой прибыльностью

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:

Winter's Tale tt1837709
Stolen tt1656186
Broken City tt1235522
Upside Down tt1374992
The Lone Ranger tt1210819

In [14]:
answer_ls.append(5)
result_1 = result.query('release_year in [2012,2013,2014]') # определяем фильмы, выпущенные в 2012-2014 годах
result_1['difference'].min() # определяем минимальную прибыльность фильма difference=-165710090
result_1[result_1['difference']==-165710090] # определяем фильм с такой прибыльностью

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [15]:
answer_ls.append(3)
data = pd.read_csv(r'C:\Users\Stanislav\data.csv', sep=',') # разделяем описание фильмов по жанру
data_1 = data[data.genres.str.contains("Drama", na=False)] # ищем фильмы с жанром Drama
data_1.info() # видим, что таких фильмов больше всего 782

<class 'pandas.core.frame.DataFrame'>
Int64Index: 782 entries, 5 to 1888
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               782 non-null    object
 1   popularity            782 non-null    float64
 2   budget                782 non-null    int64
 3   revenue               782 non-null    int64
 4   original_title        782 non-null    object
 5   cast                  782 non-null    object
 6   director              782 non-null    object
 7   tagline               782 non-null    object
 8   overview              782 non-null    object
 9   runtime               782 non-null    int64
 10  genres                782 non-null    object
 11  production_companies  782 non-null    object
 12  release_date          782 non-null    object
 13  vote_count            782 non-null    int64
 14  vote_average          782 non-null    float64
 15  release_year          782 non-null    int64
dtypes: float64(2), int64(5), object(9)
memory usage: 103.9+ KB

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [16]:
answer_ls.append(5)
data = pd.read_csv(r'C:\Users\Stanislav\data.csv', sep=',') # разделяем описание фильмов по жанру
data1 = pd.DataFrame()
data1['difference'] = data['revenue']-data['budget'] # определяем прибыльность фильмов
result = pd.concat([data, data1], axis=1) # объединяем данные с исходным датасетом
result_1 = result.query('difference>0') # определяем прибыльные фильмы
result_2 = result_1[result_1.genres.str.contains("Adventure", na=False)] # ищем фильмы с жанром Adventure
result_2 # видим, что таких фильмов больше всего 337

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015,1363528810
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015,228436354
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015,185238201
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015,1868178225
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015,397950503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1853,tt0162650,0.664636,46000000,107196498,Shaft,Samuel L. Jackson|Jeffrey Wright|Christian Bal...,John Singleton,"Still the man, any questions?",New York police detective John Shaft arrests W...,99,Action|Adventure|Crime|Thriller,Paramount Pictures|Scott Rudin Productions,6/15/2000,182,5.3,2000,61196498
1857,tt0163978,0.626782,40000000,144056873,The Beach,Leonardo DiCaprio|Guillaume Canet|Tilda Swinto...,Danny Boyle,Somewhere on this planet it must exist.,Twenty-something Richard travels to Thailand a...,119,Drama|Adventure|Romance|Thriller,20th Century Fox|Figment Films,2/11/2000,683,6.2,2000,104056873
1861,tt0190865,0.530739,75000000,215663859,Vertical Limit,Chris O'Donnell|Robin Tunney|Bill Paxton|Scott...,Martin Campbell,The Mountain Will Decide.,"Trapped near the summit of K2, the world's sec...",124,Action|Adventure|Thriller,Columbia Pictures Corporation|Global Entertain...,12/8/2000,151,6.0,2000,140663859
1867,tt0160797,0.458778,60000000,71000000,Rules of Engagement,Tommy Lee Jones|Samuel L. Jackson|Guy Pearce|B...,William Friedkin,A hero should never have to stand alone.,"Part war movie, part courtroom thriller, this ...",128,Action|Adventure|Drama|History|War,Paramount Pictures|Seven Arts Pictures|Munich ...,4/7/2000,90,5.8,2000,11000000
1885,tt0120903,0.182246,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,2766,6.6,2000,82299717

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [17]:
answer_ls.append(3)
result[result.director.str.contains("Steven Soderbergh", na=False)].info() # ищем фильмы, снятые режиссером Steven Soderbergh 
# и видим, что таких фильмов больше всего 13

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13 entries, 301 to 1837
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               13 non-null     object
 1   popularity            13 non-null     float64
 2   budget                13 non-null     int64
 3   revenue               13 non-null     int64
 4   original_title        13 non-null     object
 5   cast                  13 non-null     object
 6   director              13 non-null     object
 7   tagline               13 non-null     object
 8   overview              13 non-null     object
 9   runtime               13 non-null     int64
 10  genres                13 non-null     object
 11  production_companies  13 non-null     object
 12  release_date          13 non-null     object
 13  vote_count            13 non-null     int64
 14  vote_average          13 non-null     float64
 15  release_year          13 non-null     int64
 16  difference            13 non-null     int64
dtypes: float64(2), int64(6), object(9)
memory usage: 1.8+ KB

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [18]:
answer_ls.append(4)
result_1 = result.query('difference>0') # определяем прибыльные фильмы
result_2 = result_1[result_1.director.str.contains("Ridley Scott", na=False)].info() # ищем фильмы, снятые режиссером Ridley Scott
#и видим, что таких фильмов больше всего 12

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 7 to 1800
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               12 non-null     object
 1   popularity            12 non-null     float64
 2   budget                12 non-null     int64
 3   revenue               12 non-null     int64
 4   original_title        12 non-null     object
 5   cast                  12 non-null     object
 6   director              12 non-null     object
 7   tagline               12 non-null     object
 8   overview              12 non-null     object
 9   runtime               12 non-null     int64
 10  genres                12 non-null     object
 11  production_companies  12 non-null     object
 12  release_date          12 non-null     object
 13  vote_count            12 non-null     int64
 14  vote_average          12 non-null     float64
 15  release_year          12 non-null     int64
 16  difference            12 non-null     int64
dtypes: float64(2), int64(6), object(9)
memory usage: 1.7+ KB

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [19]:
answer_ls.append(5)
result.groupby(['director'])['difference'].sum() # группируем фильмы по режиссерам и прибыли
result.loc[result['director'] == 'Peter Jackson'][['difference']].sum() # и видим, что больше всего прибыли принес Peter Jackson 5202593685

difference    5202593685
dtype: int64

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [20]:
answer_ls.append(1)
result_1 = result.query('difference>0') # определяем прибыльные фильмы
result_2 = result_1[result_1.cast.str.contains("Emma Watson", na=False)] # ищем фильмы, в которых снялась Emma Watson
result_2['difference'].sum() # и видим, что такие фильмы принесли больше всего прибыли 6675368452

6675368452

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [21]:
answer_ls.append(5)
result_1 = result.query('difference<0') # определяем убыточные фильмы
result_2 = result_1[result_1.cast.str.contains("Sami Gayle", na=False)] # ищем фильмы, в которых снялся Sami Gayle
result_2 # и видим, что такие фильмы принесли больше всего прибыли в 2012 году -32893443

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference
1034,tt1656186,1.157127,35000000,2106557,Stolen,Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Ga...,Simon West,Never steal from the world's greatest thief.,A former thief frantically searches for his mi...,96,Action|Crime|Drama|Thriller,Saturn Films|Nu Image Films|Millennium Films,5/17/2012,233,5.1,2012,-32893443

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [22]:
answer_ls.append(3)
result['budget'].mean() # определяем средний бюджет фильмов budget=54506961
result_1 = result[result.cast.str.contains("Matt Damon", na=False)] # ищем фильмы, в которых снялся Matt Damon
result_1.loc[result['budget'] > 54506961].info() # сравниваем их бюджет со средним бюджетом фильмов 
# и видим, что их больше всего 18

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 7 to 1859
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               18 non-null     object
 1   popularity            18 non-null     float64
 2   budget                18 non-null     int64
 3   revenue               18 non-null     int64
 4   original_title        18 non-null     object
 5   cast                  18 non-null     object
 6   director              18 non-null     object
 7   tagline               18 non-null     object
 8   overview              18 non-null     object
 9   runtime               18 non-null     int64
 10  genres                18 non-null     object
 11  production_companies  18 non-null     object
 12  release_date          18 non-null     object
 13  vote_count            18 non-null     int64
 14  vote_average          18 non-null     float64
 15  release_year          18 non-null     int64
 16  difference            18 non-null     int64
dtypes: float64(2), int64(6), object(9)
memory usage: 2.5+ KB

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [23]:
answer_ls.append(2)
result_1 = result[result.cast.str.contains("Nicolas Cage", na=False)] # ищем фильмы, в которых снялся Nicolas Cage
result_2 = result_1[result.genres.str.contains("Action", na=False)] # ищем фильмы с жанром Action
result_2.info() # и видим, что их больше всего 17

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17 entries, 168 to 1819
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               17 non-null     object
 1   popularity            17 non-null     float64
 2   budget                17 non-null     int64
 3   revenue               17 non-null     int64
 4   original_title        17 non-null     object
 5   cast                  17 non-null     object
 6   director              17 non-null     object
 7   tagline               17 non-null     object
 8   overview              17 non-null     object
 9   runtime               17 non-null     int64
 10  genres                17 non-null     object
 11  production_companies  17 non-null     object
 12  release_date          17 non-null     object
 13  vote_count            17 non-null     int64
 14  vote_average          17 non-null     float64
 15  release_year          17 non-null     int64
 16  difference            17 non-null     int64
dtypes: float64(2), int64(6), object(9)
memory usage: 2.4+ KB

C:\Users\Stanislav\anaconda3\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [24]:
answer_ls.append(1)
result_1 = result[result.production_companies.str.contains("Universal", na=False)] # ищем фильмы, снятые Universal
result_1.info() # и видим, что их больше всего 185
# сперва по Universal Pictures, а не по Universal искал. Считаю, что незаслуженно 2 балла потерял (

<class 'pandas.core.frame.DataFrame'>
Int64Index: 185 entries, 0 to 1887
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               185 non-null    object
 1   popularity            185 non-null    float64
 2   budget                185 non-null    int64
 3   revenue               185 non-null    int64
 4   original_title        185 non-null    object
 5   cast                  185 non-null    object
 6   director              185 non-null    object
 7   tagline               185 non-null    object
 8   overview              185 non-null    object
 9   runtime               185 non-null    int64
 10  genres                185 non-null    object
 11  production_companies  185 non-null    object
 12  release_date          185 non-null    object
 13  vote_count            185 non-null    int64
 14  vote_average          185 non-null    float64
 15  release_year          185 non-null    int64
 16  difference            185 non-null    int64
dtypes: float64(2), int64(6), object(9)
memory usage: 26.0+ KB

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [25]:
answer_ls.append(4)
result_1 = result[result.production_companies.str.contains("Warner Bros", na=False)] # ищем фильмы, снятые Warner Bros
result_1.loc[result_1['release_year'] == 2015].info() # определяем фильмы, выпущенные в 2015 году
# и видим, что их больше всего 12

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 11 to 107
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               12 non-null     object
 1   popularity            12 non-null     float64
 2   budget                12 non-null     int64
 3   revenue               12 non-null     int64
 4   original_title        12 non-null     object
 5   cast                  12 non-null     object
 6   director              12 non-null     object
 7   tagline               12 non-null     object
 8   overview              12 non-null     object
 9   runtime               12 non-null     int64
 10  genres                12 non-null     object
 11  production_companies  12 non-null     object
 12  release_date          12 non-null     object
 13  vote_count            12 non-null     int64
 14  vote_average          12 non-null     float64
 15  release_year          12 non-null     int64
 16  difference            12 non-null     int64
dtypes: float64(2), int64(6), object(9)
memory usage: 1.7+ KB

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [26]:
answer_ls.append(3)
#result_1 = result[result.production_companies.str.contains("Columbia Pictures", na=False)] # ищем фильмы, снятые Columbia Pictures
#result_1.loc[result_1['genres'] == 'Comedy'].sum() # определяем, что суммарная прибыль фильмов в жанре Comedy difference=1328155476

result_1 = result[result.production_companies.str.contains("Universal", na=False)] # ищем фильмы, снятые Universal
result_1.loc[result_1['genres'] == 'Comedy'].sum() # определяем, что суммарная прибыль фильмов в жанре Comedy difference=1061040819
# Почему правильный ответ Universal? Прошу пояснить!

imdb_id                 tt2637276tt3152624tt2004420tt2096672tt1226229t...
popularity                                                        19.5931
budget                                                          433000000
revenue                                                        1494040819
original_title          Ted 2TrainwreckNeighborsDumb and Dumber ToGet ...
cast                    Mark Wahlberg|Seth MacFarlane|Amanda Seyfried|...
director                Seth MacFarlaneJudd ApatowNicholas StollerBobb...
tagline                 Ted is Coming, Again.We All Know One.Family vs...
overview                Newlywed couple Ted and Tami-Lynn want to have...
runtime                                                              1410
genres                  ComedyComedyComedyComedyComedyComedyComedyCome...
production_companies    Universal Pictures|Media Rights Capital|Fuzzy ...
release_date            6/25/20157/17/20155/8/201411/12/20146/4/201012...
vote_count                                                           8209
vote_average                                                         80.2
release_year                                                        26135
difference                                                     1061040819
dtype: object

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [27]:
answer_ls.append(3)
result_1 = result[result.production_companies.str.contains("Columbia Pictures", na=False)] # ищем фильмы, снятые Columbia Pictures
result_1.loc[result_1['release_year'] == 2012].sum() # определяем фильмы, выпущенные в 2012 году
# и видим, что студия заработала больше всего difference=2501406608

imdb_id                 tt1853728tt1074638tt0948470tt1232829tt1386703t...
popularity                                                        26.8562
budget                                                          967000000
revenue                                                        3468406608
original_title          Django UnchainedSkyfallThe Amazing Spider-Man2...
cast                    Jamie Foxx|Christoph Waltz|Leonardo DiCaprio|K...
director                Quentin TarantinoSam MendesMarc WebbPhil Lord|...
tagline                 Life, liberty and the pursuit of vengeance.Thi...
overview                With the help of a German bounty hunter, a fre...
runtime                                                              1226
genres                  Drama|WesternAction|Adventure|ThrillerAction|A...
production_companies    Columbia Pictures|The Weinstein CompanyColumbi...
release_date            12/25/201210/25/20126/27/20123/12/20128/2/2012...
vote_count                                                          26933
vote_average                                                         64.2
release_year                                                        20120
difference                                                     2501406608
dtype: object

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [28]:
answer_ls.append(1)
result_1 = result.query('difference<0') # определяем убыточные фильмы
result_1 = result[result.production_companies.str.contains("Paramount Pictures", na=False)] # ищем фильмы, снятые Paramount Pictures
result_1['difference'].min() # определяем самый убыточный фильм difference=-64831034
result_1.loc[result_1['difference'] == -64831034]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [29]:
answer_ls.append(5)
result.loc[result['release_year'] == 2015].sum() # видим, что в 2015 году компании заработали больше всего difference=18668572378

imdb_id                 tt0369610tt1392190tt2908446tt2488496tt2820852t...
popularity                                                        412.758
budget                                                         6780630004
revenue                                                       25449202382
original_title          Jurassic WorldMad Max: Fury RoadInsurgentStar ...
cast                    Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
director                Colin TrevorrowGeorge MillerRobert SchwentkeJ....
tagline                 The park is open.What a Lovely Day.One Choice ...
overview                Twenty-two years after the events of Jurassic ...
runtime                                                             13355
genres                  Action|Adventure|Science Fiction|ThrillerActio...
production_companies    Universal Studios|Amblin Entertainment|Legenda...
release_date            6/9/20155/13/20153/18/201512/15/20154/1/201512...
vote_count                                                         143377
vote_average                                                        755.2
release_year                                                       237770
difference                                                    18668572378
dtype: object

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [30]:
answer_ls.append(4)
result_1 = result[result.production_companies.str.contains("Warner Bros", na=False)] # ищем фильмы, снятые Warner Bros
result_1.loc[result_1['release_year'] == 2010].sum() # видим, что в 2010 году компания заработали больше всего difference=1974712985

imdb_id                 tt1375666tt0926084tt1542344tt0800320tt0840361t...
popularity                                                        26.4413
budget                                                         1034000000
revenue                                                        3008712985
original_title          InceptionHarry Potter and the Deathly Hallows:...
cast                    Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...
director                Christopher NolanDavid YatesDanny BoyleLouis L...
tagline                 Your mind is the scene of the crime.One Wayâ€¦...
overview                Cobb, a skilled thief who commits corporate es...
runtime                                                              1421
genres                  Action|Thriller|Science Fiction|Mystery|Advent...
production_companies    Legendary Pictures|Warner Bros.|SyncopyWarner ...
release_date            7/14/201010/17/201011/5/20104/1/20109/15/20101...
vote_count                                                          20286
vote_average                                                         79.6
release_year                                                        26130
difference                                                     1974712985
dtype: object

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [31]:
answer_ls.append(4)
result["time"] = result.release_date.apply(lambda s: s.split('/')[0]) # разделяем даты по месяцам
result.loc[result['time'] == '9'].count() # и видим, что в сентябре суммарно вышло больше всего фильмов 227

imdb_id                 227
popularity              227
budget                  227
revenue                 227
original_title          227
cast                    227
director                227
tagline                 227
overview                227
runtime                 227
genres                  227
production_companies    227
release_date            227
vote_count              227
vote_average            227
release_year            227
difference              227
time                    227
dtype: int64

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [32]:
answer_ls.append(2)
result.loc[result['time'] == '8'].count()+result.loc[result['time'] == '7'].count()+result.loc[result['time'] == '6'].count()

imdb_id                 450
popularity              450
budget                  450
revenue                 450
original_title          450
cast                    450
director                450
tagline                 450
overview                450
runtime                 450
genres                  450
production_companies    450
release_date            450
vote_count              450
vote_average            450
release_year            450
difference              450
time                    450
dtype: int64

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [33]:
answer_ls.append(5)
result_1 = result[result.director.str.contains("Peter Jackson", na=False)] # ищем фильмы, снятые Peter Jackson
result_1.loc[result['time'] == '12'].count()+result_1.loc[result['time'] == '1'].count()+result_1.loc[result['time'] == '2'].count()
# и видим, что их больше всего 7

imdb_id                 7
popularity              7
budget                  7
revenue                 7
original_title          7
cast                    7
director                7
tagline                 7
overview                7
runtime                 7
genres                  7
production_companies    7
release_date            7
vote_count              7
vote_average            7
release_year            7
difference              7
time                    7
dtype: int64

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [34]:
answer_ls.append(4)
result.loc[result['time'] == '6'].sum() # видим, что в июне прибыль максимальна difference=27551262500

imdb_id                 tt0369610tt1340138tt2293640tt2096673tt1798684t...
popularity                                                        284.103
budget                                                        11871700000
revenue                                                       39422962500
original_title          Jurassic WorldTerminator GenisysMinionsInside ...
cast                    Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...
director                Colin TrevorrowAlan TaylorKyle Balda|Pierre Co...
tagline                 The park is open.Reset the futureBefore Gru, t...
overview                Twenty-two years after the events of Jurassic ...
runtime                                                             16092
genres                  Action|Adventure|Science Fiction|ThrillerScien...
production_companies    Universal Studios|Amblin Entertainment|Legenda...
release_date            6/9/20156/23/20156/17/20156/9/20156/15/20156/2...
vote_count                                                         171386
vote_average                                                        893.6
release_year                                                       295091
difference                                                    27551262500
time                    6666666666666666666666666666666666666666666666...
dtype: object

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [35]:
answer_ls.append(5)
result_1 = result[result.production_companies.str.contains("Four By Two Productions", na=False)] # ищем фильмы, снятые Four By Two Productions
result_2 = result_1.original_title.apply(lambda x:len(x)) # определяем количество символов в названии
result_2.mean() # определяем среднее количество символов в названии
# и видим, что оно наибольшее 83

83.0

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [36]:
answer_ls.append(5)
result_1 = result[result.production_companies.str.contains("Four By Two Productions", na=False)] # ищем фильмы, снятые Four By Two Productions
result_2 = result_1.original_title.apply(lambda x: x.split()) # разбиваем название на слова
result_3 = result_2.apply(lambda x: len(x)) # определяем количество слов в названии
result_3.mean()# определяем среднее количество слов в названии
# и видим, что оно наибольшее 12

12.0

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [38]:
answer_ls.append(3)
result_1 = result.original_title.apply(lambda x: x.split()) # разбиваем название на слова
words = []
result_1.apply(lambda x: words.append(x)) # помещаем слова в отдельный список
import re 
all_words = re.findall(r'\w+', str(words)) # подсчитываем количество слов
nonrep_words = list()
for i in all_words:
    if i in nonrep_words: # проверка, "есть ли слово в списке уникальных слов?"
        pass    # если есть, то ничего не делаем
    else:
        nonrep_words.append(i)    #если нет, то добавляем 
len(nonrep_words) # видимо при подсчете не учтены цифры

2374

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [39]:
answer_ls.append(1)
result['vote_average'].value_counts(bins=25) # ищем фильмы, имеющие наивысший рейтинг и видим, что рейтинг (7.908, 8.1] имеют 5 фильмов
result[result['vote_average'] >= 7.908] #определяем эти фильмы 
#result[result['original_title'] == 'Inside Out']
#result[result['original_title'] == 'Gone Girl']
#result[result['original_title'] == 'Gone Girl']

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference,time
9,tt2096673,6.326804,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,3935,8.0,2015,678708609,6
34,tt3170832,3.557846,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,1520,8.0,2015,29401758,10
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,456752480,11
125,tt2084970,8.110711,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,3478,8.0,2014,219555708,11
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,7

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [40]:
answer_ls.append(5)
result_1 = result[result.cast.str.contains("Daniel Radcliffe", na=False)] # ищем фильмы, в которых снялся Daniel Radcliffe
result_2 = result[result.cast.str.contains("Rupert Grint", na=False)] # ищем фильмы, в которых снялся Rupert Grint
joined = result_1.merge(result_2, on='imdb_id', how='inner') # объединяем датафреймы со значением inner, 
#оставляя только те записи, которые есть в обоих датафреймах
joined.info() # видим, что эти актеры чаще всего снимаются в одном фильме вместе 8
#Почему-то когда ночью проверял, последний вариант не прогнал и выбрал ошибочный первый. Да и черт с ним )

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 0 to 7
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   imdb_id                 8 non-null      object
 1   popularity_x            8 non-null      float64
 2   budget_x                8 non-null      int64
 3   revenue_x               8 non-null      int64
 4   original_title_x        8 non-null      object
 5   cast_x                  8 non-null      object
 6   director_x              8 non-null      object
 7   tagline_x               8 non-null      object
 8   overview_x              8 non-null      object
 9   runtime_x               8 non-null      int64
 10  genres_x                8 non-null      object
 11  production_companies_x  8 non-null      object
 12  release_date_x          8 non-null      object
 13  vote_count_x            8 non-null      int64
 14  vote_average_x          8 non-null      float64
 15  release_year_x          8 non-null      int64
 16  difference_x            8 non-null      int64
 17  time_x                  8 non-null      object
 18  popularity_y            8 non-null      float64
 19  budget_y                8 non-null      int64
 20  revenue_y               8 non-null      int64
 21  original_title_y        8 non-null      object
 22  cast_y                  8 non-null      object
 23  director_y              8 non-null      object
 24  tagline_y               8 non-null      object
 25  overview_y              8 non-null      object
 26  runtime_y               8 non-null      int64
 27  genres_y                8 non-null      object
 28  production_companies_y  8 non-null      object
 29  release_date_y          8 non-null      object
 30  vote_count_y            8 non-null      int64
 31  vote_average_y          8 non-null      float64
 32  release_year_y          8 non-null      int64
 33  difference_y            8 non-null      int64
 34  time_y                  8 non-null      object
dtypes: float64(4), int64(12), object(19)
memory usage: 2.2+ KB

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [41]:
answer_ls.append(4)
result_1 = result[result.director.str.contains("Christopher Nolan", na=False)] # ищем фильмы, снятые Christopher Nolan
result_1 # видим, что он снял 8 фильмов и все в прибыли, т.е. вероятность снять прибыльный фильм близка к 100%

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,difference,time
118,tt0816692,24.949134,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,6498,8.0,2014,456752480,11
370,tt1375666,9.363643,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,9767,7.9,2010,665500000,7
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825,7
904,tt0278504,1.111488,46000000,113714830,Insomnia,Al Pacino|Robin Williams|Maura Tierney|Hilary ...,Christopher Nolan,A tough cop. A brilliant killer. An unspeakabl...,Two Los Angeles homicide detectives are dispat...,118,Crime|Mystery|Thriller,Section Eight|Alcon Entertainment|Witt/Thomas ...,5/24/2002,564,6.6,2002,67714830,5
973,tt1345836,6.591277,250000000,1081041287,The Dark Knight Rises,Christian Bale|Michael Caine|Gary Oldman|Anne ...,Christopher Nolan,The Legend Ends,Following the death of District Attorney Harve...,165,Action|Crime|Drama|Thriller,Legendary Pictures|Warner Bros.|DC Entertainme...,7/16/2012,6723,7.5,2012,831041287,7
1314,tt0372784,5.400826,150000000,374218673,Batman Begins,Christian Bale|Michael Caine|Liam Neeson|Katie...,Christopher Nolan,Evil fears the knight.,"Driven by tragedy, billionaire Bruce Wayne ded...",140,Action|Crime|Drama,DC Comics|Legendary Pictures|Warner Bros.|DC E...,6/14/2005,4914,7.3,2005,224218673,6
1445,tt0482571,2.582095,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,2519,7.8,2006,69676311,10
1801,tt0209144,3.095625,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,2144,7.9,2000,30723096,10

# Submission

In [42]:
len(answer_ls)

37

In [43]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       4
1    2       2
2    3       3
3    4       2
4    5       1
5    6       5
6    7       2
7    8       1
8    9       4
9   10       5
10  11       3
11  12       5
12  13       3
13  14       4
14  15       5
15  16       1
16  17       5
17  18       3
18  19       2
19  20       1
20  21       4
21  22       3
22  23       3
23  24       1
24  25       5
25  26       4
26  27       4
27  28       2
28  29       5
29  30       4
30  31       5
31  32       5
32  33       3
33  34       3
34  35       1
35  36       5
36  37       4